---
layout: archive
permalink: /project/
author_profile: true
---

{% include base_path %}

<p>Under Construction!</p>

{% assign sorted_projects = site.project | sort: "rank" %}

<h1>Research and Course Projects</h1>

{% for post in sorted_projects %}
  {% include archive-single.html %}
{% endfor %}

<!-- {% assign all_projects = site.project | concat: site.courseproject %}

<h1>Research and Course Projects</h1>
{% for post in all_projects %}
  {% include archive-single.html %}
{% endfor %} -->


<!-- <h1>Research Projects</h1>

{% for post in site.project %}
  {% include archive-single.html %}
{% endfor %}


<h1>Course Projects</h1>

{% for post in site.courseproject %}
  {% include archive-single.html %}
{% endfor %}
 -->
